<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
<hr>
    <h1>Student details</h1>
    Student Id : {{studentId}} <br>
        Student Name : {{studentName}} <br>
            Student Marks : {{studentMarks}} <br>

            <table border=1>
            <tr><th>Subject</th><th>Marks</th></tr>
            {{#subjects}}
            <tr>
            <td>{{name}}</td>
            <td>{{marks}}</td>
            </tr>
            {{/subjects}}
            </table>


</body>

</html>